{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": true,
      "target": "http://promedicalit.lndo.site",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/public_html/wp-content/themes/promedical",
      "timeout": 20000,
      "autoUpload": true,
      "reuseConnection": true,
      "connectionType": "sftp",
      "history": [
        {
          "file": "template-part/block/interior-hero/interior-hero.css",
          "mtimeMs": 1658772155718.4885,
          "date": "2022-07-25T18:02:37.228Z"
        },
        {
          "file": "dist/editor-styles.css",
          "mtimeMs": 1658772681343.751,
          "date": "2022-07-25T18:11:24.198Z"
        },
        {
          "file": "src/site.css",
          "mtimeMs": 1658856660152.909,
          "date": "2022-07-26T17:31:02.134Z"
        },
        {
          "file": "dist/main.bundle.css",
          "mtimeMs": 1658872425179.195,
          "date": "2022-07-26T21:53:48.149Z"
        },
        {
          "file": "src/editor-styles.css",
          "mtimeMs": 1658772680591.7607,
          "date": "2022-07-25T18:11:22.515Z"
        },
        {
          "file": "inc/gdt-gutenberg.php",
          "mtimeMs": 1658694206094.0488,
          "date": "2022-07-24T20:23:27.411Z"
        },
        {
          "file": "template-part/block/didyouknow/didyouknow.php",
          "mtimeMs": 1658253802582.2517,
          "date": "2022-07-19T18:03:24.905Z"
        },
        {
          "file": "template-part/block/didyouknow/didyouknow.css",
          "mtimeMs": 1658254170912.6575,
          "date": "2022-07-19T18:09:32.456Z"
        },
        {
          "file": "template-part/block/didyouknow/didyouknow.min.css",
          "mtimeMs": 1658254171432.65,
          "date": "2022-07-19T18:09:33.566Z"
        },
        {
          "file": "template-part/block/emaillink/emaillink.php",
          "mtimeMs": 1657829987134.3538,
          "date": "2022-07-14T20:19:48.512Z"
        },
        {
          "file": "template-part/block/calculator/vue.min.js",
          "mtimeMs": 1573848688000,
          "date": "2022-07-14T23:11:22.639Z"
        },
        {
          "file": "template-part/block/calculator/jquery-git.js",
          "mtimeMs": 1573848688000,
          "date": "2022-07-14T23:11:23.724Z"
        },
        {
          "file": "template-part/block/calculator/dattorto.js",
          "mtimeMs": 1573848688000,
          "date": "2022-07-14T23:11:25.585Z"
        },
        {
          "file": "template-part/block/calculator/dattorto.css",
          "mtimeMs": 1657841098205.7734,
          "date": "2022-07-14T23:24:59.666Z"
        },
        {
          "file": "template-part/block/calculator/calculator.php",
          "mtimeMs": 1657841336322.858,
          "date": "2022-07-14T23:28:57.788Z"
        },
        {
          "file": "template-part/block/calculator/calculator.css",
          "mtimeMs": 1657046923611.213,
          "date": "2022-07-14T23:11:34.786Z"
        },
        {
          "file": "template-part/block/calculator/bootstrap-grid.css",
          "mtimeMs": 1583519946000,
          "date": "2022-07-14T23:11:37.381Z"
        },
        {
          "file": "template-part/block/calculator/calculator.min.css",
          "mtimeMs": 1657840324062.72,
          "date": "2022-07-14T23:12:17.381Z"
        },
        {
          "file": "header.php",
          "mtimeMs": 1658856391115.0222,
          "date": "2022-07-26T17:26:32.275Z"
        },
        {
          "file": "template-part/block/stackslider/stackslider.php",
          "mtimeMs": 1658251729041.4946,
          "date": "2022-07-19T17:28:51.347Z"
        },
        {
          "file": "src/js/scripts.js",
          "mtimeMs": 1658872545405.68,
          "date": "2022-07-26T21:55:48.435Z"
        },
        {
          "file": "dist/site.bundle.js",
          "mtimeMs": 1658872547421.6545,
          "date": "2022-07-26T21:55:49.536Z"
        },
        {
          "file": "template-part/block/timeline/timeline.php",
          "mtimeMs": 1658252028237.4502,
          "date": "2022-07-19T17:33:49.635Z"
        },
        {
          "file": "footer.php",
          "mtimeMs": 1658252706268.6375,
          "date": "2022-07-19T17:45:08.352Z"
        },
        {
          "file": "template-part/block/interior-hero/interior-hero.min.css",
          "mtimeMs": 1658773069454.814,
          "date": "2022-07-25T18:17:51.881Z"
        },
        {
          "file": "template-part/block/interior-hero/interior-hero.php",
          "mtimeMs": 1658682613780.516,
          "date": "2022-07-24T17:10:15.169Z"
        },
        {
          "file": "template-part/block/stackslider/stackslider.js",
          "mtimeMs": 1658258259008.865,
          "date": "2022-07-19T19:17:40.401Z"
        },
        {
          "file": "template-part/block/timeline/timeline.js",
          "mtimeMs": 1658258170733.6897,
          "date": "2022-07-19T19:16:12.482Z"
        },
        {
          "file": "template-part/block/timeline/timeline-dist.js",
          "mtimeMs": 1658258171309.6846,
          "date": "2022-07-19T19:16:13.809Z"
        },
        {
          "file": "template-part/block/map/map.php",
          "mtimeMs": 1658258659848.7183,
          "date": "2022-07-19T19:24:21.233Z"
        },
        {
          "file": "template-part/block/map/map.css",
          "mtimeMs": 1658258727351.9746,
          "date": "2022-07-19T19:25:28.967Z"
        },
        {
          "file": "template-part/block/map/map.min.css",
          "mtimeMs": 1658258727867.969,
          "date": "2022-07-19T19:25:30.298Z"
        },
        {
          "file": "theme.json",
          "mtimeMs": 1658416038988.9138,
          "date": "2022-07-21T15:07:39.588Z"
        },
        {
          "file": "template-part/block/circle-progress/circle-progress.css",
          "mtimeMs": 1658876006088.9368,
          "date": "2022-07-26T22:53:27.718Z"
        },
        {
          "file": "template-part/block/circle-progress/circle-progress.php",
          "mtimeMs": 1658874886986.1648,
          "date": "2022-07-26T22:34:48.573Z"
        },
        {
          "file": "template-part/block/circle-progress/circle-progress.js",
          "mtimeMs": 1658875914530.0627,
          "date": "2022-07-26T22:51:56.122Z"
        },
        {
          "file": "template-part/block/circle-progress/custom-circle-progress.min.js",
          "mtimeMs": 1658515369454.2307,
          "date": "2022-07-22T18:42:51.778Z"
        },
        {
          "file": "src/site.js",
          "mtimeMs": 1658856426578.776,
          "date": "2022-07-26T17:27:09.907Z"
        },
        {
          "file": "src/js/circle.js",
          "mtimeMs": 1658517269598.9648,
          "date": "2022-07-22T19:14:31.000Z"
        },
        {
          "file": "template-part/block/circle-progress/circle.js",
          "mtimeMs": 1658517269598.9648,
          "date": "2022-07-22T19:16:13.658Z"
        },
        {
          "file": "template-part/block/circle-progress/circle-progress.min.css",
          "mtimeMs": 1658876006604.9304,
          "date": "2022-07-26T22:53:28.812Z"
        },
        {
          "file": "template-part/block/testimonialslider/testimonialslider.css",
          "mtimeMs": 1658855883200.079,
          "date": "2022-07-26T17:18:04.638Z"
        },
        {
          "file": "template-part/block/testimonialslider/testimonialslider.min.css",
          "mtimeMs": 1658855883724.0725,
          "date": "2022-07-26T17:18:05.514Z"
        },
        {
          "file": "template-part/block/hero/hero.min.css",
          "mtimeMs": 1658854371443.9788,
          "date": "2022-07-26T16:52:53.202Z"
        },
        {
          "file": "template-part/block/hero/hero.css",
          "mtimeMs": 1658854370927.9863,
          "date": "2022-07-26T16:52:52.338Z"
        },
        {
          "file": "inc/gdt-enqueues.php",
          "mtimeMs": 1658856089245.489,
          "date": "2022-07-26T17:21:30.475Z"
        },
        {
          "file": "template-part/navigation/nav-modal.php",
          "mtimeMs": 1658856600537.4204,
          "date": "2022-07-26T17:30:01.840Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": true
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "bower_components",
          "node_modules"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "tailwindcss": {
        "rootDir": "",
        "content": [
          "**/*.html",
          "**/*.php",
          "**/*.js",
          "!wp-admin",
          "!wp-includes",
          "!node_modules",
          "!Prepros Export"
        ]
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "tailwindcss",
            "enable": false
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": true
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": true
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "src/editor-styles.css",
        "config": {
          "tasks": {
            "postcss-import": {
              "enable": true
            },
            "postcss-preset-env": {
              "enable": true
            },
            "autoprefixer": {
              "enable": false
            },
            "minify-css": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "dist/editor-styles.css"
        }
      },
      {
        "file": "src/site.css",
        "config": {
          "tasks": {
            "postcss-import": {
              "enable": true
            },
            "postcss-preset-env": {
              "enable": true
            },
            "autoprefixer": {
              "enable": false
            },
            "minify-css": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "dist/main.bundle.css"
        }
      },
      {
        "file": "src/site.js",
        "config": {
          "autoCompile": true,
          "customOutput": "dist/site.bundle.js",
          "tasks": {
            "concat-js": {
              "enable": true
            },
            "bundle-js": {
              "options": {
                "devMode": false
              }
            }
          }
        }
      },
      {
        "file": "src/site.scss",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "src/site_header.js",
        "config": {
          "tasks": {
            "bundle-js": {
              "options": {
                "devMode": false
              },
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "dist/site_header.bundle.js"
        }
      },
      {
        "file": "template-part/block/calculator/calculator.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/calculator/calculator.min.css"
        }
      },
      {
        "file": "template-part/block/circle-progress/circle-progress.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/circle-progress/circle-progress.min.css"
        }
      },
      {
        "file": "template-part/block/circle-progress/custom-circle-progress.js",
        "config": {
          "customOutput": "template-part/block/circle-progress/custom-circle-progress.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "template-part/block/didyouknow/didyouknow.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "customOutput": "template-part/block/didyouknow/didyouknow.min.css",
          "autoCompile": true
        }
      },
      {
        "file": "template-part/block/floatingblock/floatingblock.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/floatingblock/floatingblock.min.css"
        }
      },
      {
        "file": "template-part/block/hero/hero.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/hero/hero.min.css"
        }
      },
      {
        "file": "template-part/block/hovercta/hovercta.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "customOutput": "template-part/block/hovercta/hovercta.min.css",
          "autoCompile": true
        }
      },
      {
        "file": "template-part/block/interior-hero/interior-hero.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "customOutput": "template-part/block/interior-hero/interior-hero.min.css",
          "autoCompile": true
        }
      },
      {
        "file": "template-part/block/map/map.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/map/map.min.css"
        }
      },
      {
        "file": "template-part/block/stackslider/stackslider.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/stackslider/stackslider.min.css"
        }
      },
      {
        "file": "template-part/block/testimonialslider/testimonialslider.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/testimonialslider/testimonialslider.min.css"
        }
      },
      {
        "file": "template-part/block/timeline/timeline.css",
        "config": {
          "tasks": {
            "postcss-preset-env": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "template-part/block/timeline/timeline.min.css"
        }
      },
      {
        "file": "template-part/block/timeline/timeline.js",
        "config": {
          "autoCompile": true
        }
      }
    ]
  }
}
