/* ==========================================================================
   WRAPPERS
   ========================================================================== */

.o-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-width-base;
  width: 100%;
}

.o-wrapper-wide {
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-width-wide;
  width: 100%;
}

.o-wrapper-nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  width: 100%;
}

.o-wrapper-narrow {
  margin-left: auto;
  margin-right: auto;
  max-width: $wrapper-width-narrow;
  width: 100%;
}

.u-wrapper-wider {
  max-width: 1400px !important;
}

.c-bg-extend {
  background-image: radial-gradient( #525252 0%, #0f0f0f 60%) !important;
  position: relative;
  z-index: 1;
  padding: 30px 25px;
  margin-left: -80px;
  left: -25px;
  width: 100vw;
  @media(width >= 1510px) {
    width: 100%;
    padding: 70px 80px;
    left: 0;
  } 
  &::after {
    content: "";
    background-color: #0f0f0f;
    width: 10000px;
    display: block;
    position: absolute;
    z-index: -1;
    height: 100%;
    top: 0;
    left: 100%;
  }
  .tb-grid-column  {
    position: relative;
  }
}

.editor-content > .c-bg-extend {
  max-width: 1460px !important;
}

.c-135-below {
  position: absolute;
  bottom: -135px;
  left: 50%;
  margin-left: -197px;
  width: 394px !important;
  // width: ;
}