/* ==========================================================================
   LINK BUTTON STYLES
   ========================================================================== */

.c-btn-primary, .c-blk-btn  {
  display: block;
  text-decoration: none; 
  margin-bottom: 10px;

}
.c-btn button, .c-btn-primary a, .wp-block-button.is-style-standard a.wp-block-button__link, .wp-block-button.is-style-standard .wp-block-button__link, .c-blk-btn a {
  background-color: $color-teal;
  border: none; 
  color: #fff;
  border-radius: 8px;
  letter-spacing: 1.35px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none; 
  padding: 19px 45px;
  transition: $transition-ease;
  &:hover {
    background-color: #008f9b;
    color: #000;
  }

  
}

.c-lower-cta-content .c-btn-primary a {
  white-space: nowrap;
}

.c-blk-btn--ghost a {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #fff;
  &:hover {
    background-color: #8a9ba0;
  }
}

.c-blk-btn--dark a {
  background-color: #000;
  border: 2px solid #ffffff;
  &:hover {
    background-color: #8a9ba0;
  }
}

.c-btn-text-only a, .wp-block-post-excerpt__more-text a {
  background-color: transparent;
  text-decoration: none;
  text-transform: none;
  padding: 5px 0 15px 0;
  position: relative;
  color: #fff;
  transition: $transition-ease;

  &::after {
    width: 20px;
    height: 3px;
    background-color: $color-gold;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
  transition: $transition-ease;

  }
  &:hover {
  background-color: transparent;
  color: #fff;

  }
  &:hover::after {
    width: 100%;
  }
}

.wp-block-post-excerpt__more-text a {
  font-weight: 700;
}

// inside a group of buttons they go inline
.wp-block-group > .c-btn-text-only {
  display: inline-block;
  margin-right: 40px;
  &:last-of-type {
  margin-right: 0;
  }
}

