/* ==========================================================================
   HEADER
   ========================================================================== */

.c-page-header {
  background: #fff;
  height: 230px;  
  // enable styles below for usage with headroom.js
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: z(overlay);
}

.c-hero {
  position: relative;
  display: flex;
  align-items: center;
  @media(width >= $bp-large) {
  height: 525px;
  } 
  img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
  }
  .o-wrapper-wide {
    z-index: 2;
  }
}

.c-hero-content {
  z-index: 100;
  h1 {
    text-transform: uppercase;
  }
}

.c-page-sub-title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}