/* ==========================================================================
   MAIN NAVIGATION AND MENU STYLES
   ========================================================================== */

// ++ hide main-navigation wrapper (responsive first) +++++++++++++++++++++++++++++++++
.c-main-navigation {
  display: none;
}

// ++ show main navigation wrapper when the time is right ++++++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-navigation {
    /* DISPLAY FULL SIZE MENU */
    display: block;
    position: relative;
    top: 70px;
  }
}



// ++ menu styles (top level) +++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {

  .c-main-navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .c-main-menu {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .c-main-menu > li {
    margin: 0 0 0 19px;
    line-height: 1;
    position: relative;
    white-space: nowrap;
    padding: 0 19px 0 0;
  }
  .c-main-menu > li  {
    a {
      color: #000;
      display: block;
      font-weight: 700;
      font-size: 1rem;
      text-transform: uppercase;
      margin: 0;
      padding: 25px 0;
     position: relative;
    }
 
&.menu-item-has-children  {
  &::before {
    // content: "";
    // width: 2px;
    // height: 15px;
    // display: block;
    // position: absolute;
    // background-color: #000;
    // transform: rotate(45deg);
    // right: 20px;
    // top: 50%;
    // margin-top: -7px;
    // transition: $transition-ease;
  }
  &::after {
    position: absolute;
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    border-color: #000;
    transform: rotate(135deg);
    right: 20px;
    margin-top: -10px;
    top: 50%;

    vertical-align: top;
    
  }
  // &:hover::after {
  //   // transform: rotate(-45deg);
  //   transform-origin: top left;
  // } 
  // &:hover::before {
  //   transform: rotate(145deg);
  //   transform-origin: top left;
  // }
}

&.menu-item-has-children > a {
  padding-right: 30px;

}
    
  }

  .FirstMenu .c-main-menu > li:first-of-type {
    padding-left: 0;
  }

 

  .c-main-menu > li:hover > a{
    color: #222222;
    &::after {
      content: "";
      width: 100%;
      height:3px;
      display: block;
      background-color: $color-gold;
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }
  .c-main-menu > .current-menu-item > a,
  .c-main-menu > .current-page-ancestor > a,
  .c-main-menu > .current_page_item > a,
  .c-main-menu > .current_page_parent > a,
  .c-main-menu > .current_page_ancestor > a {
    color: #222222
  }
}
// END menu top level



// ++ menu style (drop down!) +++++++++++++++++++++++++++++++++
@media (width >= $bp-large) {
  .c-main-menu li:hover ul, 
  .c-main-menu li.focus ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
  }
  .c-main-menu ul {
    background-color: $color-gold;
    position: absolute;
    left: 0;
    top: 80%;
    min-width: 180px;
    margin: 0;
    padding: 18px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 200ms linear;
    z-index: z(dropdown);
  }
  .c-main-menu ul li {
    position: relative;
    max-height: 0;
    transition: max-height 300ms linear;
    overflow: hidden;
  }
  .c-main-menu li:hover ul li,
  .c-main-menu li.focus ul li {
    max-height: 140px;
  }
  .c-main-menu ul li a {
    color: #ffffff;
    font-size: 0.938rem;
    padding: 0.5rem 1rem;
    font-weight: 400;
    text-transform: unset;
    width: 100%;
    display: block;
    transition: $transition-ease;
  }
  .c-main-menu ul li a:hover,
  .c-main-menu ul .current-menu-item > a,
  .c-main-menu ul .current-menu-parent > a,
  .c-main-menu ul .current_page_item > a,
  .c-main-menu ul .current_page_parent > a,
  .c-main-menu ul .current_page_ancestor > a {
    background-color: $color-dark-gold;
  }
}
// END drop down styling

@media(width >= 1400px) {
  .c-main-navigation {
    justify-content: space-between;
  }
}

@media(width <= 1400px) {
  .FirstMenu, .SecondMenu {
    width: 100%;
  }
.c-main-menu {
  justify-content: space-around;
  width: 100%;
}
} 