.c-icon-block {
    position: relative;

display: flex;
font-size: 50px;

width: 102px;
background-color: transparent;
height: 102px;
border-radius: 50%;
border: 1px solid #fff;
margin-bottom: 20px;
justify-content: center;
align-items: center;
text-align: center;
span {
    width: 82px;
height: 82px;
border-radius: 50%;
border: 1px solid #fff;
display: inline-flex;
justify-content: center;
align-items: center;
}
}



// LOWER CTAs
.c-lower-cta {
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 54px;
    padding-bottom: 54px;
    
    h3 {
        font-size: clamped(25px, 30px);
        font-weight: 400;
        font-family: $font-secondary;
    }

    &.is-color-Blue {
        background-color:$color-teal;
        color: #000;
        h3 {
            color: #000;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }

        .c-btn-primary {
            margin-top: 30px;
            @media(width >= $bp-large) {
            margin-top: 0;
            } 
            a {
                border: 2px solid #000;
                color: #000;
            }
        }
    }
}

.c-lower-cta-content {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-direction: column;
    text-align: center;
    @media(width >= $bp-large) {
        flex-direction: row;
        text-align: left;
    
    } 
    > div {
        display: flex;
        flex-direction: column;
        @media(width >= $bp-large) {
            flex-direction: row; 
        } 
        .c-btn-primary  {
            @media(width >= $bp-large) {
                margin-left: 50px;
              
            } 
        }
    }
}

.circle-icon {
    width: 120px;
    height: 120px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 50px;
        display: flex;
        width: 100px;
        height: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
        text-align: center;
    }
    
}

// Vertical Icon Stack
.c-vis {  
    text-align: center;
    
p {
    text-transform: uppercase;
    margin-bottom: 0;
}


 .circle-icon {
    margin: auto;
}
> div {
    margin-bottom: 18px;
    &::after {
        content: "";
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        height: 33px;
        width: 1px;
    }
    &:last-of-type::after { 
        display: none;
    }
}
.c-vis-span {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}
}
