/* ==========================================================================
   VARIABLES
   ========================================================================== */
.c-home-hero {
  padding: 75px 25px 50px;
  min-height: 500px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (width >= 1400px) {
  .c-home-hero {
    height: calc(100vh - 230px);
  }
}
.c-home-hero img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .c-home-hero img {
    display: none;
  }
}
.c-home-hero .c-home-hero-content {
  position: relative;
  z-index: 100;
  max-width: 100%;
}

.c-home-hero .c-home-hero-content p {
  margin-bottom: 50px;
}

@media (width >= 1120px) {
  .c-home-hero .c-home-hero-content {
    width: 58%;
  }
}
.c-home-hero::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  content: "";
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 100%;
  left: 0;
}

.c-home-hero::before {
  background-image: linear-gradient(628deg, rgba(0, 0, 0, 0) 5%, rgb(0, 0, 0) 33%);
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 10;
}

.c-home-hero iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.c-home-hero-content-intro {
  font-weight: 700;
  width: 478px;
  max-width: 100%;
  line-height: 30px;
  font-size: 18px;
}

@media (width >= 768px) {
  .c-home-hero-content-intro {
    font-size: 22px;
  }
}
.c-youtube-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 0;
  padding-bottom: 66.25%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@media (width <= 900px) {
  .c-youtube-wrap {
    display: none;
  }
}