/* ==========================================================================
   VARIABLES
   ========================================================================== */
.c-hover-cta {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 59px 100px 0;
}
.c-hover-cta > div {
  margin: 0 35px;
}

.c-hover-cta-init {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 50px;
  font-family: "manifold-cf", sans-serif;
  width: 156px;
  background-color: #000;
  height: 156px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.c-hover-cta-init span {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-hover-cta-content {
  position: absolute;
}
.c-hover-cta-content p {
  text-transform: uppercase;
}

.c-hover-cta-content-1 {
  position: absolute;
  left: -15px;
  text-align: right;
  top: 90px;
  width: 150px;
  z-index: -1;
}

.c-hover-cta-init-1::before {
  content: "";
  background-color: #fff;
  width: 45px;
  height: 1px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  left: -20px;
  top: 11px;
  z-index: -1;
}

.c-hover-cta-init-1::after {
  content: "";
  background-color: #fff;
  width: 45px;
  height: 1px;
  display: block;
  position: absolute;
  left: -61px;
  top: 0;
  z-index: -1;
}

.c-hover-cta-content-2 {
  position: absolute;
  left: 200px;
  text-align: right;
  top: 262px;
  width: 180px;
  z-index: -1;
}

.c-hover-cta-init-2::before {
  content: "";
  background-color: #fff;
  width: 45px;
  height: 1px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 0px;
  bottom: -6px;
  z-index: -1;
}

.c-hover-cta-init-2::after {
  content: "";
  background-color: #fff;
  width: 45px;
  height: 1px;
  display: block;
  position: absolute;
  left: -38px;
  bottom: -22px;
  z-index: -1;
}

.c-hover-cta-content-3 {
  position: absolute;
  left: 925px;
  text-align: left;
  top: -10px;
  width: 250px;
}

.c-hover-cta-init-3::before {
  content: "";
  background-color: #fff;
  width: 150px;
  height: 1px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-65deg);
  transform: rotate(-52deg);
  left: 93px;
  top: -40px;
  z-index: -1;
}

.c-hover-cta-init-3::after {
  content: "";
  background-color: #fff;
  width: 48px;
  height: 1px;
  display: block;
  position: absolute;
  left: 214px;
  top: -100px;
  z-index: -1;
}

.c-hover-cta-content-4 {
  position: absolute;
  left: 1100px;
  text-align: left;
  bottom: -65px;
  width: 318px;
}

.c-hover-cta-init-4::before {
  content: "";
  background-color: #fff;
  width: 81px;
  height: 1px;
  display: block;
  position: absolute;
  -webkit-transform: rotate(-131deg);
          transform: rotate(-131deg);
  left: 93px;
  bottom: -18px;
  z-index: -1;
}

.c-hover-cta-init-4::after {
  content: "";
  background-color: #fff;
  width: 48px;
  height: 1px;
  display: block;
  position: absolute;
  left: 160px;
  bottom: -49px;
  z-index: -1;
}