/* ==========================================================================
   VARIABLES
   ========================================================================== */
   .c-hover-cta {
    position: relative;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0 20px 0;
  }
  @media (width >= 768px) {
    .c-hover-cta {
      padding: 80px 0;
    }
  }
  .c-hover-cta > div {
    margin: 0 0 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  @media (width >= 1120px) {
    .c-hover-cta > div {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: inherit;
      margin: 0 20px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta > div {
      margin: 0 35px;
    }
  }
  @media (width >= 1120px) {
    .c-hover-cta {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 100px 59px 100px 160px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 0;
    }
  }
  
  .c-hover-cta-init {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 40px;
    font-family: "manifold-cf", sans-serif;
    height: 120px;
    width: 120px;
    background-color: #000;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .c-hover-cta-init span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 100;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  @media (width >= 1120px) {
    .c-hover-cta-init {
      height: 130px;
      width: 130px;
      font-size: 50px;
    }
    .c-hover-cta-init span {
      width: 110px;
      height: 110px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta-init {
      height: 156px;
      width: 156px;
    }
    .c-hover-cta-init span {
      width: 130px;
      height: 130px;
    }
  }
  
  .c-hover-cta-content {
    position: relative;
    margin-left: 25px;
  }
  @media (width >= 1120px) {
    .c-hover-cta-content {
      position: absolute;
      margin-left: 0;
    }
  }
  .c-hover-cta-content p {
    text-transform: uppercase;
  }
  
  .c-hover-cta-content-1 {
    z-index: -1;
  }
  @media (width >= 1120px) {
    .c-hover-cta-content-1 {
      top: 90px;
      left: 0;
      position: absolute;
      width: 150px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta-content-1 {
      text-align: right;
      left: -15px;
    }
  }
  
  .c-hover-cta-content-2 {
    z-index: -1;
  }
  @media (width >= 1120px) {
    .c-hover-cta-content-2 {
      text-align: right;
      width: 180px;
      position: absolute;
      left: 120px;
      top: 240px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta-content-2 {

      left: 186px;
      top: 292px;

    }
  }
  
  .c-hover-cta-content-3 {
    text-align: left;
  }
  @media (width >= 1120px) {
    .c-hover-cta-content-3 {
      top: -10px;
      width: 250px;
      position: absolute;
      left: 800px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta-content-3 {
      left: 925px;
    }
  }
  
  .c-hover-cta-content-4 {
    text-align: left;
  }
  @media (width >= 1120px) {
    .c-hover-cta-content-4 {
      position: absolute;
      width: 300px;
      bottom: -65px;
      left: 584px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta-content-4 {
      left: 777px;
    }
  }
  @media (width >= 1560px) {
    .c-hover-cta-content-4 {
      left: 1100px;
    }
  }
  
  @media (width >= 1120px) {
    .c-hover-cta-init-1::before {
      content: "";
      background-color: #fff;
      height: 1px;
      width: 45px;
      display: block;
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg);
      z-index: -1;
      position: absolute;
      left: -20px;
      top: 11px;
    }
  
    .c-hover-cta-init-1::after {
      content: "";
      background-color: #fff;
      height: 1px;
      display: block;
      top: 0;
      z-index: -1;
      position: absolute;
      width: 75px;
      left: -92px;
    }
  
    .c-hover-cta-init-2::before {
      content: "";
      background-color: #fff;

      width: 101px;
  
 
      height: 1px;
      display: block;
      position: absolute;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);

      left: -3px;
      bottom: -16px;
 
      z-index: -1;
    }
  
    .c-hover-cta-init-2::after {
      content: "";
      background-color: #fff;
 
      width: 65px;
      height: 1px;
      display: block;
      position: absolute;
      left: -53px;
      bottom: -52px;

      z-index: -1;
    }
  
    .c-hover-cta-init-3::before {
      content: "";
      background-color: #fff;
      width: 150px;
      height: 1px;
      display: block;
      position: absolute;
      -webkit-transform: rotate(-65deg);
      transform: rotate(-52deg);
      left: 93px;
      top: -40px;
      z-index: -1;
    }
  
    .c-hover-cta-init-3::after {
      content: "";
      background-color: #fff;
      width: 48px;
      height: 1px;
      display: block;
      position: absolute;
      left: 214px;
      top: -100px;
      z-index: -1;
    }
  
    .c-hover-cta-init-4::before {
      content: "";
      background-color: #fff;
      width: 81px;
      height: 1px;
      display: block;
      position: absolute;
      -webkit-transform: rotate(-131deg);
              transform: rotate(-131deg);
      left: 93px;
      bottom: -18px;
      z-index: -1;
    }
  
    .c-hover-cta-init-4::after {
      content: "";
      background-color: #fff;
      width: 113px;
      height: 1px;
      display: block;
      position: absolute;
      left: 47px;
      bottom: -49px;
      z-index: -1;
    }
  }
  @media (width >= 1120px) and (width >= 1560px) {
    .c-hover-cta-init-4::after {
      left: 160px;
      width: 48px;
    }
  }
  @media (width >= 1350px) {
    .c-hover-cta-init-1::after {
      width: 45px;
      left: -61px;
    }
  }