/* ==========================================================================
   VARIABLES
   ========================================================================== */
.c-hover-cta {
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 59px 100px 0;
}
.c-hover-cta > div {
  margin: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (width >= 1120px) {
  .c-hover-cta > div {
    display: inherit;
  }
}
@media (width >= 1120px) {
  .c-hover-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.c-hover-cta-init {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 50px;
  font-family: "manifold-cf", sans-serif;
  width: 156px;
  background-color: #000;
  height: 156px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.c-hover-cta-init span {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-hover-cta-content {
  position: relative;
  margin-left: 25px;
}
@media (width >= 1120px) {
  .c-hover-cta-content {
    position: absolute;
    margin-left: 0;
  }
}
.c-hover-cta-content p {
  text-transform: uppercase;
}

.c-hover-cta-content-1 {
  left: -15px;
  z-index: -1;
}
@media (width >= 1120px) {
  .c-hover-cta-content-1 {
    top: 90px;
    position: absolute;
    width: 150px;
    text-align: right;
  }
}

.c-hover-cta-content-2 {
  z-index: -1;
}
@media (width >= 1120px) {
  .c-hover-cta-content-2 {
    left: 200px;
    top: 262px;
    text-align: right;
    width: 180px;
    position: absolute;
  }
}

.c-hover-cta-content-3 {
  text-align: left;
}
@media (width >= 1120px) {
  .c-hover-cta-content-3 {
    top: -10px;
    width: 250px;
    position: absolute;
    left: 925px;
  }
}

.c-hover-cta-content-4 {
  text-align: left;
}
@media (width >= 1120px) {
  .c-hover-cta-content-4 {
    position: absolute;
    width: 318px;
    bottom: -65px;
    left: 1100px;
  }
}

@media (width >= 1120px) {
  .c-hover-cta-init-1::before {
    content: "";
    background-color: #fff;
    height: 1px;
    width: 45px;
    display: block;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    z-index: -1;
    position: absolute;
    left: -20px;
    top: 11px;
  }

  .c-hover-cta-init-1::after {
    content: "";
    background-color: #fff;
    height: 1px;
    display: block;
    top: 0;
    z-index: -1;
    position: absolute;
    width: 45px;
    left: -61px;
  }

  .c-hover-cta-init-2::before {
    content: "";
    background-color: #fff;
    width: 45px;
    height: 1px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    left: 0px;
    bottom: -6px;
    z-index: -1;
  }

  .c-hover-cta-init-2::after {
    content: "";
    background-color: #fff;
    width: 45px;
    height: 1px;
    display: block;
    position: absolute;
    left: -38px;
    bottom: -22px;
    z-index: -1;
  }

  .c-hover-cta-init-3::before {
    content: "";
    background-color: #fff;
    width: 150px;
    height: 1px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-65deg);
    transform: rotate(-52deg);
    left: 93px;
    top: -40px;
    z-index: -1;
  }

  .c-hover-cta-init-3::after {
    content: "";
    background-color: #fff;
    width: 48px;
    height: 1px;
    display: block;
    position: absolute;
    left: 214px;
    top: -100px;
    z-index: -1;
  }

  .c-hover-cta-init-4::before {
    content: "";
    background-color: #fff;
    width: 81px;
    height: 1px;
    display: block;
    position: absolute;
    -webkit-transform: rotate(-131deg);
            transform: rotate(-131deg);
    left: 93px;
    bottom: -18px;
    z-index: -1;
  }

  .c-hover-cta-init-4::after {
    content: "";
    background-color: #fff;
    width: 48px;
    height: 1px;
    display: block;
    position: absolute;
    left: 160px;
    bottom: -49px;
    z-index: -1;
  }
}