@import "../../../src/scss/settings/_variables.scss";

.circle-progress-value {
	stroke-width: 1px;
	stroke: white;
	stroke-linecap: round;
}
.circle-progress-circle {
	stroke-width: 1px;
	stroke: #000;
}
.circle-progress-text {
	fill: #fff;
    font-family: $font-secondary;
    font-weight: 300;
    font-size: 25px;
}


.c-circle-progress .progress {
    display: inline-flex;
    height: 160px ;
    svg {
        width: 160px; 
        height: 160px;
        position: relative;
        z-index: 10;
    }
    position: relative;
span {
    display: block;
    left: 50%;
    top: 50%;
margin-left: -73px;
margin-top: -73px;
position: absolute;
background-color: #262626;
border-radius: 50%;
width: 146px;
height: 146px;
&::after {
    content: "";
    display: block;
    left: 50%;
    top: 50%;
margin-left: -60px;
margin-top: -60px;
position: absolute;
background-color: #000;
border-radius: 50%;
width: 120px;
height: 120px;
}
}
}
