/* ==========================================================================
   MISC UTILITIES
   ========================================================================== */

.u-absolute {
  position: absolute;
}
.u-relative {
  position: relative;
}

.u-large-text, .is-style-large-text {
  font-size: 1.625rem;
}

.u-flex {
  display: flex;
}
.u-block {
  display: block;
}


.u-text-center {
  text-align: center;
}

.u-text-right {
  @media(width >= $bp-medium) {
    text-align: right;

  } 
}

.u-zbump {
  z-index: 30;
  position: relative;
}

.u-featured-text  {
  font-size: clamped(24px, 30px);
  line-height: 1.4;
  font-family: $font-secondary;
}

.is-mail-link a, .is-mail-link {
  color: #fff;
  svg {
    font-size: 30px;
    position: relative;
    top: 10px;
    margin-left: 5px;
  }
}

.u-mobile-hide  {
  @media(width <= $bp-medium) {
  display: none !important;
  } 
}

// ++ media or embed aspect ratio +++++++++++++++++++++++++++++++++
.u-aspect-16x9 {
  padding-bottom: 56.25%; /* (9 / 16 = 0.5625) */
}


// ++ float orphan fix trick +++++++++++++++++++++++++++++++++
.u-orphan-fix {
  overflow: hidden;
  width: auto;
}


// ++ visibility classes ++++++++++++++++++++++++++++++++++++
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.u-visually-hidden-focusable:active,
.u-visually-hidden-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Jarallax
.jarallax {
  position: relative;
  z-index: 0;

}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.jarallax-bg {
  background-size: contain !important;
}

// .jarallax-contain {
//   [id^=jarallax-container-] > div {
//     background-size: contain !important;
//   }
// }

.hide-on-desktop {
  @media(width >= $bp-medium) {
  display: none;
  } 
}

@media(width <= $bp-medium) {
  .no-bg-mobile {
    background-image: none !important;
   }
} 

.u-two-column-list {
  @media(width >= $bp-medium) {
    columns: 2;
  } 
  
}