/* ==========================================================================
   OVERRIDES - hacks and styles of last resort live here
   ========================================================================== */

// ideally this file is forever blank. likely it won't be. :(
.is-staggered-ending {
   opacity: 0;
}

.is-staggered-remove {
   display: inline-flex;
   width: auto ;
} 

.wp-block-stackable-count-up {
   margin-bottom: 0;
}