/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* ==========================================================================
   FLUID TYPE (with min and max px sizes)
   ========================================================================== */
.c-testimonialslider {
  position: relative;
}

.splide__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.splide__track {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.c-testimonial-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 90px;
  padding-left: 180px;
  position: relative;
}
.c-testimonial-wrap img {
  width: 158px;
  height: 158px;
  margin-right: 60px;
  left: 0;
  position: absolute;
}

.c-testimonialslider-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}
.c-testimonialslider-slide .splide__slide span {
  text-transform: uppercase;
}
.c-testimonialslider-slide .splide__slide p {
  padding-right: 80px;
  line-height: 1.42;
  font-size: clamp(1.5rem, 0.67vw + 1.33rem, 1.88rem);
}

.splide__pagination {
  right: -45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: unset;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.splide__pagination li button.splide__pagination__page {
  width: 24px;
  position: relative;
  height: 24px;
  opacity: 1;
  border: 2px solid #fff;
  background-color: #000;
}
.splide__pagination li .splide__pagination__page.is-active {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.splide__pagination li .splide__pagination__page.is-active::after {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #fff;
  content: "";
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}