@import "../../../src/scss/settings/_variables.scss";
@import "../../../src/scss/tools/_fluid-type.scss";

.c-testimonialslider {
    position: relative;
}

.splide__list {
    align-items: flex-start;
}

.splide__track {
    transition: $transition-ease;
  }
  

  .c-testimonial-wrap {
      display: flex;
      position: relative;
      flex-direction: column;
      @media(width >= $bp-medium) {
      flex-direction: row;
      padding-right: 90px;
      padding-left: 180px;
<<<<<<< HEAD
      position: relative;
      img {
          width: 158px;
          height: 158px;
          margin-right: 60px;
          left: 0;
          position: absolute;
=======
      } 
      img { 
          width: 90px;
          height: 90px;
          margin-bottom: 30px;
          margin-right: 60px;
          left: 0;
          @media(width >= $bp-medium) {
            position: absolute;
            margin-bottom: 0;
            width: 158px;
          height: 158px;
          
          } 
>>>>>>> main
  }
}
  .c-testimonialslider-slide {
      align-items: center;
      display: flex;
      max-width: 100%;
      

<<<<<<< HEAD
      .splide__slide {
        
        span {
            text-transform: uppercase;
        }
        p{
            padding-right: 80px;
            line-height: 1.42; 
        font-size: clamped(24px, 30px);
      }
=======
    .splide__slide {
    span {
        text-transform: uppercase;
        margin-bottom: 20px;
        display: block;
        @media(width >= $bp-medium) {
        margin-bottom: 0;
        } 
>>>>>>> main
    }
    p{
        padding-right: 80px;
        line-height: 1.42; 
        font-size: clamped(20px, 30px);
    }
    }
}

  .splide__pagination {
<<<<<<< HEAD
      right: -45px;
=======
      
      left: unset !important;
>>>>>>> main
      display: flex;
      left: unset;
      flex-direction: column;
      bottom: unset;
      top: 50%;
      right: -25px !important;

     transform: translateY(-50%);
     @media(width >= $bp-medium) {
        right: -45px !important;
     } 
     li {
        button.splide__pagination__page {
            width: 24px;
            position: relative;
            height: 24px;
            opacity: 1;
            border: 2px solid #fff;
            background-color: #000;

        }
        .splide__pagination__page.is-active {
            transform: scale(1);
            &::after {
                position: absolute;
                width: 16px;
                height: 16px;
                background-color: #fff;
                content: "";
                border-radius: 50%;
                left: 50%;
                top: 50%;
                margin-left: -8px;
                margin-top: -8px;
            }

        }
     }
  }

//   .splide__slide {
//       height: auto;
//   }