/* ==========================================================================
   VARIABLES
   ========================================================================== */
.c-testimonialslider {
  position: relative;
}

.splide__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.splide__track {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.c-testimonial-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 90px;
}
.c-testimonial-wrap img {
  width: 158px;
  height: 158px;
  margin-right: 60px;
}

.c-testimonialslider-slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splide__pagination {
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: unset;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}