/* ==========================================================================
   BLOCKQUOTE
   ========================================================================== */

blockquote {

  border-left: 4px solid #000;
  margin: 1.5rem 0 1.5rem 0;
  padding: 1rem 2.5rem;
  & p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  & cite {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    text-indent: -1rem;
    margin: 0.5rem 0 0 0;
    padding: 0 0 0 1rem !important;
  }
  & cite::before {
    content: "\2014";
    padding-right: 0.5em;
  }
}

/* ADD BIG QUOTE AT THE START OF QUOTE
blockquote::before {
  color: #ccc;
  content: "\201C";
  font-size: 4rem;
  line-height: 0.1rem;
  margin-right: 0.25rem;
  vertical-align: -0.4rem;
}*/
