/* ==========================================================================
   A TAG (links) STYLES
   ========================================================================== */
   a {
    cursor: pointer;
    transition: $transition-ease;
    text-decoration: none;
  }

   .editor-content {
  a {
    color: $link-color;
    text-decoration: underline;
  }
  a:hover { 
    color: #f3f3f3;
  }
}


a, a:active, a:hover, a:visited { 
  outline: medium none; 
}
a[href^="mailto:"] {
  overflow-wrap: break-word;
}
